# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Liquibase
liquibase/log/
liquibase/target/
liquibase/.classpath
liquibase/.settings/
liquibase/.project

# Sensitive files
*.env
*.bak
*.log

# Mac system files
.DS_Store

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Scripts
scripts/*.log